<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Question</key>
		<string>熊野寮は個室だ</string>
		<key>Answer</key>
		<false/>
	</dict>
	<dict>
		<key>Question</key>
		<string>熊野寮には女子がいる</string>
		<key>Answer</key>
		<true/>
	</dict>
	<dict>
		<key>IncorrectAnswer</key>
		<string>さえぐさ きい</string>
		<key>CorrectAnswer</key>
		<string>かんざき みずき</string>
		<key>Question</key>
		<string>スターライトがくえんNo.1のトップアイドルはだれ？</string>
	</dict>
	<dict>
		<key>IncorrectAnswer</key>
		<string>ソレイユ</string>
		<key>CorrectAnswer</key>
		<string>3つのほし</string>
		<key>Question</key>
		<string>かんざきみずきといちのせかえでととうどうゆりかのトライスターのいみは？</string>
	</dict>
	<dict>
		<key>IncorrectAnswer</key>
		<string>エンジェリーシュガー</string>
		<key>CorrectAnswer</key>
		<string>ボヘミアンスカイ</string>
		<key>Question</key>
		<string>かぜさわそらのしんブランドはなに？</string>
	</dict>
	<dict>
		<key>IncorrectAnswer</key>
		<string>トライスター</string>
		<key>CorrectAnswer</key>
		<string>ぽわぽわぷりりん</string>
		<key>Question</key>
		<string>ありすがわおとめをちゅうしんにかつどうするしんユニットはなに？</string>
	</dict>
	<dict>
		<key>IncorrectAnswer</key>
		<string>えびふぉん</string>
		<key>CorrectAnswer</key>
		<string>パソくん</string>
		<key>Question</key>
		<string>さえぐさきいのおへやにあるともだちはなに？</string>
	</dict>
</array>
</plist>
