<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CorrectAnswer</key>
		<string>デイジー</string>
		<key>IncorrectAnswer</key>
		<string>チューリップ</string>
		<key>backgroundImage</key>
		<string>himesato-maria</string>
		<key>Question</key>
		<string>ひめさとマリアのすきなはなは？</string>
	</dict>
	<dict>
		<key>backgroundImage</key>
		<string>otoshiro-seira</string>
		<key>Question</key>
		<string>おとしろせいらのいもうとはだれ？</string>
		<key>CorrectAnswer</key>
		<string>のえる</string>
		<key>IncorrectAnswer</key>
		<string>ミスターエス</string>
	</dict>
	<dict>
		<key>backgroundImage</key>
		<string>fitting-room</string>
		<key>Question</key>
		<string>アイカツのメンバーがフィッティングルームに入れないのはなぜ？</string>
		<key>CorrectAnswer</key>
		<string>かがやきたいきもちをわすれたから</string>
		<key>IncorrectAnswer</key>
		<string>スペシャルアピールをせいこうさせられなかったから</string>
	</dict>
	<dict>
		<key>backgroundImage</key>
		<string>spicy-ageha</string>
		<key>Question</key>
		<string>スパイシーアゲハのミューズはだれ？</string>
		<key>CorrectAnswer</key>
		<string>しんじょうえませんぱい</string>
		<key>IncorrectAnswer</key>
		<string>ティアラがくえんちょう</string>
	</dict>
	<dict>
		<key>backgroundImage</key>
		<string>starlight</string>
		<key>IncorrectAnswer</key>
		<string>さえぐさ きい</string>
		<key>CorrectAnswer</key>
		<string>かんざき みずき</string>
		<key>Question</key>
		<string>スターライトがくえんNo.1のトップアイドルはだれ？</string>
	</dict>
	<dict>
		<key>backgroundImage</key>
		<string>tristar</string>
		<key>IncorrectAnswer</key>
		<string>ソレイユ</string>
		<key>CorrectAnswer</key>
		<string>3つのほし</string>
		<key>Question</key>
		<string>かんざきみずきといちのせかえでととうどうゆりかのトライスターのいみは？</string>
	</dict>
	<dict>
		<key>backgroundImage</key>
		<string>sora-kazesawa</string>
		<key>IncorrectAnswer</key>
		<string>エンジェリーシュガー</string>
		<key>CorrectAnswer</key>
		<string>ボヘミアンスカイ</string>
		<key>Question</key>
		<string>かぜさわそらのしんブランドはなに？</string>
	</dict>
	<dict>
		<key>backgroundImage</key>
		<string>powa-powa-puririn</string>
		<key>IncorrectAnswer</key>
		<string>トライスター</string>
		<key>CorrectAnswer</key>
		<string>ぽわぽわぷりりん</string>
		<key>Question</key>
		<string>ありすがわおとめをちゅうしんにかつどうするしんユニットはなに？</string>
	</dict>
	<dict>
		<key>backgroundImage</key>
		<string>kii-saegusa</string>
		<key>IncorrectAnswer</key>
		<string>えびふぉん</string>
		<key>CorrectAnswer</key>
		<string>パソくん</string>
		<key>Question</key>
		<string>さえぐさきいのおへやにあるともだちはなに？</string>
	</dict>
</array>
</plist>
